@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1, h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 2rem white;
}
nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-image: linear-gradient(to right, #0400ff, #003dff, #0059ff, #0070ff, #0084ff, #008fff, #0099ff, #00a3ff, #00a8ff, #00acff, #00b1ff, #00b5ff);
    animation-name: navigasi;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background-size: 400% 400%;
}
div.logo{
    display: flex;
    align-items: center;
}
div.pemisah{
    display: flex;
    gap: 20vw;
    flex-direction: row;
}
nav a{
    display: flex;
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    margin-left: 0.5rem;
    font-weight: 700;
    text-shadow: 0 0 2rem white;
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
div.pemisah{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 74vw;
    flex-direction:row ;
    margin-right: 0.5rem;
}
div.isi{
    position: relative;
    top: 15%;
    margin-left: 26vw;
    padding: 2vw;
    /* margin-top: 5vw; */
    width: 50vw;
    height: 37vw;
    border: 2px solid white;
    border-radius: 15px 50px;
    box-shadow: 0 0 2rem white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vw;
    flex-direction: column;
}
div.isi ul{
    font-size: 4vw;
    font-family: 'Lora', serif;
}
div.a{
    display: flex;
    /* gap: 20px; */
    flex-direction: column;
}
.credits p{
    color: white;
    font-size: 2.5vw;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 0 0 2rem white;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 4vw;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
@keyframes navigasi{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}